:root {
    --primary-dark: rgb(139, 0, 253);
    --primary-light: #FFF;
}
* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
}
h1{
    font-size: 48pt;
}
h2{
    font-size: 40pt;
}
a{
    font-size: 32pt;
    color: blue;
}
p{
    font-size: 36pt;
}

