@media (min-width: 950px){

.mobile-nav{
    display: none;
}

.lrgscreen-nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0px;
}
.lrgscreen-nav ul li {
    padding: 2vh 2vw;
    border-radius: 5px;
    transition: var(--t-time);
}
.lrgscreen-nav ul li:hover {
    background-color: white;
    cursor: pointer;
}
.lrgscreen-nav ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--white);
    transition: var(--t-time);
}
.lrgscreen-nav ul li:hover a{
    color: var(--black);
}

.hero-content h3 {
    font-size: 3rem;
}


.about-page-content {
    justify-content: space-evenly;
}




}