@media (max-width: 950px){

.lrgscreen-nav {
    display: none;
}

.mobile-nav ul .navlink {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.mobile-nav ul .navlink a {
    padding: 1.5vh 2.5vw;
    transition: var(--t-time);
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--white);
}
.mobile-nav ul .navlink:hover {
    cursor: pointer;
}
.mobile-nav ul .navlink:hover a{
    background-color: var(--white);
    border-radius: 5px;
    color: var(--black);
    background-color: var(--white);
}

#root-nav {
    position: relative;
}
#root-nav:hover #submenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#submenu {
    display: none;
    position: absolute;
    z-index: 1;
    top: calc(100% + 65%);

    background-color: var(--white);
    border-radius: 5px;
    margin: 0px;
}
#submenu li{
    border-bottom: 1px solid var(--black);
    border-radius: 5px;
    padding: 1.5vh 2vw;
    margin: 0px;
    width: 100%;
    text-align: left;
    transition: var(--t-time);
}
#submenu li a {
    padding: 1vh 2vw;
    transition: var(--t-time);
}
#submenu li:hover {
    background-color: var(--black);
}
#submenu li:hover a{
    background-color: var(--black);
    color: var(--white);
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lrgscreen-hero-right {
    margin-top: 1vh;
    width: 97%;
    height: 18vh;
    border: 1px solid var(--white);
    border-radius: 5px;
    background-image: url("/images/libraryfront1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

}