@media  (max-width: 950px) {

    .lrgscreen-nav {
        display: none;
    }
    
    .mobile-nav ul .navlink {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .mobile-nav ul .navlink a {
        padding: 1.5vh 2.5vw;
        transition: var(--t-time);
        font-size: 1.3rem;
        font-family: gothamLight;
        text-decoration: none;
        color: var(--white);
    }
    .mobile-nav ul .navlink:hover {
        cursor: pointer;
    }
    .mobile-nav ul .navlink:hover a{
        background-color: var(--white);
        border-radius: 5px;
        color: var(--black);
        background-color: var(--white);
    }
    
    #root-nav {
        position: relative;
    }
    
    #submenu {
        display: none; 
        position: absolute;
        z-index: 100;
        top: 110%;
        background-color: var(--white);
        border-radius: 5px;
        margin: 0px;
    }
    #root-nav:hover #submenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translate(-29%, 1%);
        min-width:150px;
        width: 25vw;
        max-width: 200px;
    }
    
    #submenu li{
        border-bottom: 1px solid var(--black);
        border-radius: 5px;
        padding: 1.5vh 2vw;
        margin: 0px;
        width: 100%;
        text-align: left;
        transition: var(--t-time);
    }
    #submenu li a {
        padding: 1vh 2vw;
        font-size: 1.1em;
        transition: var(--t-time);
    }
    #submenu li:hover {
        background-color: var(--black);
    }
    #submenu li:hover a{
        background-color: var(--black);
        color: var(--white);
    }
    
    #hero-content h3 {
        margin-bottom: 5vh;
    }
    
    .articles-of-bylaws ul{
        padding-left: 0vw;
        margin-left: 4vw;
    }
    .about-page-content {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .about-additional-info {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    #newsletters {
        flex-grow: 2;
        width: 100%;
    }
    
    #event-display .pri-photo {
        max-width: 200px;
        max-height: 200px;
        height: 3vh;
        min-height: 200px;
        
    }
    #event-display img {
        max-width: 300px;
        margin: 2px 2px;
    }
    
    
    
    }
    